<footer
  class="footer-uel pb-6"
  [ngClass]="absolute ? 'absolute w-full bottom-0' : 'relative'"
>
  <div class="container mx-auto px-4">
    <hr class="mb-6 border-b-1 border-white border-opacity-20" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4">
        <div
          class="text-sm text-white font-semibold py-1 text-center md:text-left"
        >
          Copyright © {{ date }} - Hệ thống tìm đồ thất lạc
        </div>
      </div>
      <div class="w-full md:w-8/12 px-4">
        <ul class="flex flex-wrap list-none md:justify-end justify-center">
          <li>
            <a [routerLink]="['/']" class="text-white hover:opacity-90 text-sm font-semibold block py-1 px-3">
              Trang chủ
            </a>
          </li>
          <li>
            <a [routerLink]="['/posts']" class="text-white hover:opacity-90 text-sm font-semibold block py-1 px-3">
              Bài đăng
            </a>
          </li>
          <li>
            <a [routerLink]="['/auth/login']" class="text-white hover:opacity-90 text-sm font-semibold block py-1 px-3">
              Đăng nhập
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
