# Dependencies
node_modules/
admin-site/node_modules/
client-site/node_modules/
server/node_modules/


# Build output
dist/
.angular/
out-tsc/
tmp/
bazel-out/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
.history/

# OS
.DS_Store
Thumbs.db

# Logs & env
*.log
npm-debug.log*
yarn-error.log
# .env
# .env.local
# .env.*.local
# *.env

# Coverage / test
coverage/
.nyc_output/

# Cursor / agent
.cursor/
.agents/
