<div class="main-wrapper">
  <!-- Header Component -->
  <app-header></app-header>

  <!-- Main Content Area -->
  <div class="content-area">
    <app-sidebar
      class="admin-sidebar"
      [isCollapsed]="isNavCollapsed"
      [isMobileOpen]="isMobileNavOpen"
      (closeMenu)="closeMobileMenu()"
    ></app-sidebar>

    <!-- Page Content -->
    <div class="pcoded-main-container w-100">
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Component -->
  <app-footer [isCollapsed]="isNavCollapsed"></app-footer>
</div>

